<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">



<suite name="TestSuite">
<!-- parallel="classes" thread-count = "2" -->
	<listeners>

		<listener class-name="com.TestAutomation.MA.customListener.Test_Listener"></listener>

	</listeners>

	
	<test name="Selenium Coding challenge">
		<classes>
			<class name="com.TestAutomation.MA.Home.MMT_TestCases" />
		</classes>

	</test>
</suite>